* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  text-decoration: none;
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  box-shadow: rgb(50, 50, 93, 0.23) 0 30px 30px -20px;
}
.nav-links {
  display: flex;
  justify-content: flex-start;
  width: 55%;
  margin-top: 9px;
  align-items: center;
}
.logo {
  font-size: 30px;
}
.container {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links li {
  color: black;
  font-size: 20px;
  padding: 0 10px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
}
.nav-auth span {
  color: #000;
  font-size: large;
}

.nav-auth button {
  margin-left: 10px;
  margin-right: 10px;
  width: 90px;
  border-radius: 5px;
  background-color: #333;
  color: #eee;
}
.nav-auth button:hover {
  background-color: #eee;
  color: #333;
  cursor: pointer;
}
