.hero {
  height: 100vh;
  text-align: center;
  align-items: center;
}
.hero h2 {
  padding-top: 200px;
  font-size: 500;
}
.hero h4 {
  margin-left: 550px;
}
.btn-login {
  margin-top: 50px;
  border-radius: 10px;
  padding: 4px 6px 4px 6px;
  width: 300px;
  background-color: #333;
  color: #eee;
  border: none;
}
.btn-login:hover {
  cursor: pointer;
  background-color: transparent;
  color: #333;
  font: bolder;
  border: 1px solid #333;
}
